/* ----------------------- */
/* base_sp
/* ----------------------- */
/* デフォルトのbuttonスタイルをリセット */
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
}
html{
    font-size: 62.5%;
  }
body{
    font-size: 1.6rem;
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    color: #333;
}  

img,svg{
    width: 100%;
    vertical-align: bottom;
}
section{
    padding: 60px 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
.btn_link{
    display: block;
    margin-top: 30px;
    width: 160px;
height: 36px;
font-family: "Montserrat Medium";
font-weight: bold;
font-size: 12px;
letter-spacing: 0.02em;
line-height: 32px;
text-align: center;
color: #fff;
background: #000;
}
.section-title{
    font-family: "Montserrat ExtraBold";
font-size: 32px;
letter-spacing: 0.07em;
color: #333;
margin-bottom: 30px;

}
p{
color: #333;

}
.gray-bg{
    background: #f0f0f0;
    width: 100%;
}

  
/* header */
.site-title{
    width: 260px;
    position: fixed;
    top: 38px;
    left: 4vw;
    z-index: 1;
  }
  
header{
    display: flex;
    justify-content: space-between;
    max-width: 1324px;
    margin: 0 auto;
}
nav{
    position: fixed;
    right: 0;
    width: 36.1vw;

 background: rgba(34, 34, 34, 0.95);
 padding-top: 180px;
 padding-bottom: 394px;
 z-index: 2;
 opacity: 0;

}
.nav-list{
    text-align: center;
}
.nav-item{
    margin-bottom: 30px;
}
.nav-item a{
    color: #fff;
}

/* 以下、ハンバーガーボタン */
.burger-btn{
    display: flex;
    align-items: center;
    position: fixed;
    top: 38px;
    right: 4vw;      
    z-index: 3;
  }    
  .bar{      
    width: 22px;      
    height: 2px;        
    display: block;      
    background-color: #fff;    
  }    
  .bar_top{   
    transform: translateY(-4px);

  }
  .bar_bottom{
    transform: translateY(4px);

  }

  .menu{
    display: block;
font-size: 10px;
color: #fff;
text-transform: uppercase;
margin-left: 5px;
}

/* ハンバーガーメニューが開いたとき */
.bar.cross.bar_top{
    transform: translateY(2px)rotate(30deg);
    transition: transform .3s;

  }
.bar.cross.bar_mid{
    opacity: 0;
    transition: opacity .3s;
  }
  .bar.cross.bar_bottom{
    transform: translateY(-2px)rotate(-30deg);
    transition: transform .3s;

}
  
nav.open{
    opacity: 1;
    transition: transform .3s,opacity .3s;

}
.burger-musk{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(34, 34, 34, 0.6);
    z-index: 1;
  }
  


/* fv */
.fv{
    height: 100vh;
    margin-bottom: 60px;
  }
  
.fv::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    width: 50%;
    height: 100%;
    z-index: -1;
}
.kv{
    background-image: url(../img/kv-img.png);
    width: 76.4%;
    height: 86.5%;
    background-size:cover ;
    background-position: center 0;
    position: relative;
}
.copy{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50% ,-50%);
    color: #fff;
}
.main-copy, .copy_jp, .copy_company{
    color: #fff;
}
.main-copy{
    font-family: "Montserrat ExtraBold";
font-size: 72px;
line-height: 86px;
color: #fff;

}
.copy_jp, .copy_company{
    font-size: 16px;
    font-weight: bold;
}

/* about */
.about{
    position: relative;
}
.content-wrap{
    max-width: 1100px;
    margin: 0 auto;

}
.about::after{
    content: "";
    width: 100vw;
    height: 160px;
    display: block;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    z-index: -1;
    
  }
.about-bg{
    background-image: url(../img/about-img.png);
 padding: 110px 0 110px 50px;
 background-size: cover;
 background-position: center;    
}
.about-content{
    max-width: 530px;
background: rgba(255, 255, 255, 0.95);
padding: 50px 30px;

}
.about-text{
    max-width: 530px;
font-family: "Noto Sans JP";
font-size: 16px;
line-height: 32px;
color: #333;
}

/* works, culture */
.flex-box{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.works, .culture{
    width: 47.3%;

}
.works-text, .culture-text{
    padding-top: 28px ;

}

/*  */
.topics{
    max-width: 1100px;
    margin: 0 auto;
}
.topics-item{
border-bottom: 1px solid #ddd;

}
.topics-list{
    max-width: 700px;
  }
time{
    font-family: "Montserrat Medium";
font-weight: bold;
font-size: 10px;
letter-spacing: 0.02em;
line-height: 32px;
text-align: left;
color: #cecece;

}
h3{
font-family: YuGothic;
font-weight: bold;
font-size: 12px;
color: #333;

padding-bottom: 8px;

}

.left{
    margin-left: auto;
}


/* contact */
.contact{
    padding-bottom: 120px;
}
.contact-img{
    max-width: 580px;
}
.contact-content{
    width: 40%;
    margin-top:72px ;
}
.contact-text{
font-family: YuGothic;
font-weight: 500;
font-size: 16px;
line-height: 32px;

}

/* footer */
footer{
background: #525252;
text-align: center;
padding: 18px 0;

}
small{
    font-family: "Montserrat Medium";
font-weight: 500;
font-size: 10px;
letter-spacing: 0.02em;
line-height: 32px;
color: #fff;

}

@media screen and (max-width: 768px){
/* base  */
section{
    padding: 40px 0;

}
.content-wrap{
    padding: 0 4vw;
}
body{
    font-size: 14px;
  }
.flex-box{
    padding: 0 4vw;
}  

/*  */
.burger-btn{
    right: 15px;
}

/* fv */
.site-title{
    width: 189px;
    top: 20px;
}
.burger-btn{
    top: 24px;
}
.copy{
    transform: translate(30% ,-50%);
}
.main-copy{
    font-size: 56px;
line-height: 53px;
padding-top: 10px;

}

.fv::after{
    width: 75.5%;
}

/* about */
.about-bg{
    padding: 50px 4vw;

}
.section-title{
    font-family: "Montserrat ExtraBold";
font-size: 28px;
letter-spacing: 0.07em;
text-align: left;
color: #333;
}
.about-text{
    font-family: YuGothic;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 28px;
    color: #333;
    
}
.about-content{
    margin: 0 auto;
}

/* works, culture */
.flex-box{
    flex-direction: column;

}
.works, .culture{
    width: 520px;
    max-width: 100%;

}

/* contact */
.content-wrap.flex-box{
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0 4vw;

}
.contact-img{
    margin-bottom: 30px;
    width: 520px;
    max-width: 100%;
  
}
.contact-content{
    width: 510px;
    max-width: 100%; 
    margin-top: 30px; 
    
}
.contact-text{
font-family: YuGothic;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #333;

}

.contact{
    padding-bottom: 40px;
}